* {box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}  
 
.conteiner{
    max-width: 1600px;
    width: 100%; 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Section_1{
    background-image: url('../images/Rectangle9.png');
    background-repeat: no-repeat;
    
}

.nav-menu{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding-top: 2.6rem;
    padding-left: 16rem;
}


.nav-menu-icon {
    margin-right: 21.8rem;
    margin-top: -0.85rem;

}
.menu-items{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: #FFFFFF;
    font-family:'ProximaSemibold';
    font-size: 1.5rem;
}

.nav-menu-item{
    margin-right: 1.8rem;
    list-style-type: none;
    font-size: 1.2rem;
}

.header-title{
    font-family:'ProximaSemibold';
    font-size: 4.0rem;
    padding-top: 18rem;
    color:#FEFEFB;
    margin-left: 9.1rem;
    font-weight: 300;
}

.header-subtitle{
    font-family:'PTSans-Italic';
    font-size: 1.8rem;
    line-height: 1.75rem;
    padding-top: 0.8rem;
    padding-bottom: 27rem;
    color:#FEFDFD;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.header{
    display: block;
    text-align: center;
   
}   

/*section2*/

.Section_2{
    background-color: #EBEBEB;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding:6rem 12.5rem 6rem 12.5rem;
    justify-content: space-around;
   
}

.section_2-item{
    width: 50%;
    flex-direction: column;

}
.conteiner-icon{
    position: relative;
    
}

.block-icon{
    position: absolute;
    display: block;
    text-align: center;
    margin-top: -30rem;
    margin-left: 6.3rem;
}


.section_2-subtitle {
    padding-top: 4.69rem;
    padding-right:1.76rem ;
    padding-left: 4.88rem ;
    font-size: 1.25rem;
    font-family:'PTSans-Regular';
    
    
   

}
.btn-learn{
    margin-left: 14.75rem;
    margin-top: 1.68rem;
    color: #665F60;;
}

.btn{
    padding: 0.875rem 3.5rem;
    border: 1px solid #7D7A7C;
    font-family:'PTSans-Italic';
    font-size: 1.25rem;
    display: inline-block;
}

.section-title{
    color: #FEFBFC;
    font-family:'ProximaSemibold';
    font-size: 2.2rem; ;

}

/*section3*/
.Section3{
    padding-left: 13.43rem;
    padding-right: 13.43rem;
    background-color: #EBEBEB;
}
.conteiner-section3{
    
    display: flex;
    justify-content: center;
}   
.section_3-content{
    background-image: url('../images/Clip.png');
    background-color: #9F9ACF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 800px;

}

.col-item{
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    justify-content: center;

}
.card-name{
    font-size: 1.2rem;
    font-size: 'ProximaSemibold';
   
    padding-bottom: 1.2rem;
    padding-top: 1.56rem;
} 

.icon-img{
     padding-top: 6.2rem;
}

.card{
    color: #665F60;
    text-align: center;
    height: 400px;
}

.text{
    font-size: 1.13rem;
    font-family:'PTSans-Italic';
    display: inline-block;
    width: 12.5rem;
    
}

.section_3-icon{
    margin-top: 7.2rem;
}

.text-img{
    padding-top: 3.75rem;
    font-size: 1.12rem;
    font-family: 'PTSans-Italic';
    text-align: justify;
    padding-right: 1.78rem;
    padding-left: 1.78rem;
}

.text-footnote{
   font-family:'PTSans-Bold';
}
/*Section4*/
.Section_4{
background-image: url('../images/Bg.png');
display: block;
text-align: center;
position: relative;
}

.slideshow-container {
    max-width: 730px;
    max-height: 546px;
    margin: auto;
  }

.mySlides {
    display: none;
}

.next{
    right: 10rem;
    border-radius: 3px 0 0 3px;
  }

.prev{
    left: 10rem;
    border-radius: 3px 0 0 3px;  
}    
.prev, .next {
    cursor: pointer;
    transition: 0.6s ease;
    position: absolute;
    top: 50%;
    width: auto;
    
}

.btn-prev, .btn-next{
    padding: 16px;
    color:#665F60;
}

.btn-prev:hover, .btn-next:hover {
    background-color: #DBDBDB;
}
  

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.dot-group{
    display:block;
    text-align:center;
    margin-top: 2.8rem;
    margin-bottom: 2.9rem;
}

.img-icon-section4{
    margin-top:3rem;
}
.btn-gallery{
    margin-bottom: 4rem;
    text-align:center; 
    opacity: 0 0 0 0.5;
    background-color: #9F9ACF;
    color: #FFFFFF;

    
}
/*Section 5*/
.Section_5{
    background-color: #EBEBEB;
    text-align: center;
    padding: 4rem auto 5rem auto;
    position: relative;
}

.multiple-items{
   position: relative; 
   min-width: 0;
   width:1100px;
   margin-right: auto;
   margin-left: auto;
   margin-top: 8.1rem;
   padding-bottom: 6.1rem;
   padding-left: 3.82rem;
   padding-right: 3.82rem;
    
}


.multiple-items.slide-item1{
    min-width: 0;
    width: calc(1/3*100% - 30px);
}

.img-bg-about-us{
    padding-bottom: 2rem;
}

.slick-slider{
    min-height: 0;
}
.slick-track{
    display:flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    
}

.slick-list{
    overflow-y: visible!important;
    overflow-x: hidden;
}

.multiple-items .slick-arrow{
     position: absolute;
     margin-top: -9rem;
     top: 50%;
     z-index: 10;
     font-size: 0;
    
 }

.multiple-items .slick-prev{
    left: 0;
    background-image: url('/images/interface-arrow-left.svg') no-repeat;
    width: 1.38rem;
    height:2.38rem;
}

 .multiple-items .slick-next{
     right: 0;
     background-image: url('/images/interface-arrow-right.svg') no-repeat;
     width: 22px;
     height: 38px;
 }

.slide-item1{ 
     text-align: center;
     background-color: #FDFDFE; 
     margin: 0 15px;   
}

.card-body{
    width: 100%;
}
.card-footer{
    background-color: #9F9ACF;
    padding-bottom: .4rem;
    padding-top: 0.4rem;

}

.card-text{
    padding-bottom: 2.5rem;
}
.overlay{
  color: #575091;
  font-weight: 700;
  bottom:6.5rem; 
  width: 100%;
  font-size: 20px;
  padding: 2rem;
  text-align: center;
}

.slide-item1-foto{
   z-index: 15;
   margin-top: -7.5rem;
}


.card-link{
    margin-right: 0.5rem;
}


 .conteiner-section5-next, .conteiner-section5-prev {
    cursor: pointer;
    transition: 0.6s ease;
    position: absolute;
    top:50%;
    width: auto; 
}

.conteiner-section5-next{
    right: 10rem;
    border-radius: 3px 0 0 3px;
}

.conteiner-section5-prev {
    left: 10rem;
    border-radius: 3px 0 0 3px; 
}

/*section 6*/
.Section_6{
    background-image: url('../images/Bg-map.png');
    width: 100%; 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.section-title{
    padding-top: 3.38rem;
    padding-bottom: 3rem;
}


  .conteiner-adress{
        width: 300px; /*задаем ширину блока*/
        height:100px; /*задаем высоту блока*/
        transform: translate(-50%, -50%);
        position: absolute; 
        top: 30%; 
        left: 80%; 
  }

  .sidenav-conteiner{
     display: inline-block;
     width: 21.75rem;
     font-size: 1.12rem;
     text-align: center;
  }

  .btn-form{
      background-color: #9F9ACF;
      color: #FFFFFF;
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;
      border-radius: 4px;
      font-family: 'ProximaBold';
      font-size: 1rem;
  }

#name{
    width: 24rem;
    color: #EBEBEB;
    border-radius: 4px;
    opacity: 0.5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-right: 1.80rem;
    border-style: none;
}
.form-get{
   padding-top: 13.62rem;

}
#email{
    width: 24rem;
    border-radius: 4px;
    opacity: 0.5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-style: none;
}


#message{
    width: 50rem;
    border-radius: 4px;
    opacity: 0.5;
    padding-top: 1rem;
    padding-bottom: 12rem;
    padding-left: 1rem;
    border-style: none;
}
/*Footer*/
.footer{
    background-color: #9F9ACF;
    color: #FFFFFF;
    display: flex;
    padding-left: 8.43rem;
    padding-right: 8.43rem; 
    padding-top: 4.68rem; 
    padding-bottom: 4.69rem;
}

.footer-item{
     width: 50%;
     flex-direction: row;
     flex-wrap: nowrap;
}

.item-right{
   text-align: right;
}

.item-left{
    text-align: left;
    align-self: center;
 }