* {box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'ProximaBold' ,'ProximaSemibold','PTSans-Bold', 'PTSans-Italic', 'PTSans-Regular';
} 

/*Section1*/
.conteiner{
    max-width: 600px;
    width: 100%;
    background-size: cover;
    overflow-x: hidden;
    height: 100%;
    background-position: center;
    text-align: center;
}

.Section_1{
    background-image: url('../images/Rectangle9.png');
    background-repeat: no-repeat;  
   
   }

.header-menu{
    display: none;
}
/*скрытое меню*/
.lock .header-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #EBEBEB;
    z-index: 9000;
}

.lock .header-link {
    color: #9F9ACF;
    font-size: 25px;
}

.header-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.nav-menu-item {
    margin-top: 1rem;
    z-index: 5;
}
/*скрытое меню*/

.nav-menu {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}    

.menu-items {
    display: block;
    flex-direction: column;
    list-style: none;
    margin-right: 2rem;
    top: 2rem;
    z-index: 2;
}

.header-nav::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #9F9ACF;
    opacity: 1;
    z-index: 3;
}


.header-burger {
    display: block;
    width: 40px;
    height: 20px;
    position: relative;
    z-index: 3;
}
.header-burger::before {
    top: 0;
}
    
.header-burger::after {
    bottom: 0;
}

    .header-burger::after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        right: 0;
        height: 4px;
        transition: all 0.3s ease 0s;
    }
    .header-burger::before, .header-burger::after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        right: 0;
        height: 4px;
        transition: all 0.3s ease 0s;
    }
    
    .header-burger span {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 4px;
        top: 8px;
        right: 0;
        transition: all 0.3s ease 0s;
    }

    .burger::after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        right: 0;
        height: 4px;
        transition: all 0.3s ease 0s;
    }
            

    .header-title{
        font-family:'ProximaSemibold';
        font-size: 2.0rem;
        padding-top: 18rem;
        color:#FEFEFB;
        font-weight: 300;
        text-align: center;
        display: block;
    }

.header-subtitle{
    font-family:'PTSans-Italic';
    font-size: 1rem;
    line-height: 1.75rem;
    padding-top: 0.8rem;
    padding-bottom: 15rem;
    color:#FEFDFD;
}

.icon{
    flex: 0 0 40px;
    z-index: 10;
    
}

/*Section2*/

.Section_2 {
    background-color: #EBEBEB;
    padding: 5rem 1rem;
}

.pic_container {
    display: flex;
    justify-content: center;
    position: relative;
}

.icon-section2 {
   display: flex;

}

.block-icon{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start ;
    align-items: center;
     margin-top: 1rem; 
    position: absolute;
    /* display: block; */
    /* text-align: center; */
    padding-top: 3rem; 
    margin-left: -1.1rem;
   
}

.section-title {
    color: white;
    font-size: 2.2rem;
}

.section_2-subtitle {
    font-size: 0.75rem;
    font-family: 'PTSans-Regular';
    text-align: justify;
    color: #665F60;
    padding: 1.5rem;
}

.btn {
    padding: 0.875rem 3.5rem;
    border: 1px solid #7D7A7C;
    font-family: 'PTSans-Italic';
    font-size: 1.25rem;
    display: inline-block;
}

.btn-learn {
    margin: 2rem auto;
    color: #665F60;
}

/*section3*/

.conteiner-section3 {
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    background-color: #EBEBEB;
    padding: 0 1.43rem;
    justify-content: center;

}

.col-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.card {
    color: #665F60;
    text-align: center;
}

.icon-img {
    padding-top: 4.2rem;
}

.card-name {
    font-size: 1.2rem;
   
    padding-bottom: 1.2rem;
    padding-top: 1.56rem;
}

.text {
    font-size: 1.13rem;
    font-family: 'PTSans-Italic';
    display: inline-block;
    width: 12.5rem;
    padding-bottom: 2rem;
}

.section_3-content {
    background-image: url(../images/Clip.png);
    background-color: #9F9ACF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.section_3-icon {
    margin-top: 5.2rem;
}

.text-img {
    padding-top: 3.75rem;
    font-size: 1.12rem;
    font-family: 'PTSans-Italic';
    text-align: justify;
    padding-right: 1.78rem;
    padding-left: 1.78rem;
}

.text-footnote {
    font-family: 'PTSans-Bold';
    padding-bottom: 7rem;
}

/*Section4*/
.Section_4{
     background-image: url('../images/Bg.png');
    display: block;
    text-align: center;
    position: relative;
}
   
.btn-gallery{
    background-color: #9F9ACF;
}

.img-icon-section4{
    padding-top: 2rem;
}

.slideshow-container{
    padding-top: 2rem;
}

    

/*section5*/
.Section_5{
    background-color: #EBEBEB;
    text-align: center;
    position: relative;
    padding: 0 3rem;
}
.multiple-items{
    display: flex;
    position: relative; 
    min-width: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.1rem;
    padding-bottom: 6.1rem;
    justify-content: center;
   
     
 }
 .slide-item1{
      background-image: linear-gradient(180deg, transparent, transparent 30%, #fff 30%, #FFFFFF 100%); 
      margin: 0 15px;
      flex-basis: 100%;
     
 }
 
 .multiple-items.slide-item1{
     min-width: 0;
     text-align: center;
     background-color: #FDFDFE; 
       
 }
 
 .img-bg-about-team{
     padding-bottom: 2rem;
 }
 
 .slick-slider{
     min-height: 0;
     position: relative;
     display: block;
    
 }
 .slick-track{
     display:flex;
     align-items: flex-start;
     flex-wrap: nowrap;
     
 }
 
 .slick-list{
     overflow-x: hidden;
     position: relative;
     display: block;
     margin: 0;
     padding: 0;
 }
 
 .multiple-items .slick-arrow{
      position: absolute;
      margin-top: -6rem;
      top: 50%;
      z-index: 10;
      font-size: 0;  
      border: 1px solid transparent;
      width: 22px;
      height: 38px;
    }

    .multiple-items .slick-prev{
        left: 0; 
        background: url('./images/interface-arrow-left-dark.svg')  0 0 / 100% no-repeat;
        background-size: contain;
        width: 2rem;
        height: 3rem; 
        margin-left: -2rem;   
    }
    
     .multiple-items .slick-next{
         right: 0;
         background-size: contain;
         background-image: url('./images/interface-arrow-right-dark.svg');
         background-position: center center;
         background-repeat: no-repeat;
         width: 2rem;
         height: 3rem;
         margin-right: -2rem;
     }

    .card-body{
        width: 100%;
    }
    .card-footer{
        background-color: #9F9ACF;
        padding-bottom: .4rem;
        padding-top: 0.4rem;

    }

    .card-text{
        padding-bottom: 2.5rem;
        font-size: 1rem;
        font-family: 'PTSans-Italic';
    }
    .overlay{
    color: #575091;
    font-weight: 700;
    bottom:6.5rem; 
    width: 100%;
    font-size: 20px;
    padding: 2rem;
    text-align: center;
    }

    .slide-item1-foto{
    z-index: 15;
    transform: translate(0, 0);
    }


    .card-link{
        margin-right: 0.5rem;
    }

    /*section 6*/
.Section_6{
    background-image: url('../images/Bg-map.png');
    width: 100%; 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}
.btn-form{
    background-color: #9F9ACF;
    color: #FFFFFF;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    border-radius: 4px;
    font-family: 'ProximaBold';
    font-size: 1rem;
}

#name{
    width: 15rem;
    color: #EBEBEB;
    border-radius: 4px;
    opacity: 0.5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-style: none;
    margin-bottom: 1rem;
}

.form-get{
   padding-top: 4rem;
}

#email{
    width: 15rem;
    border-radius: 4px;
    opacity: 0.5;
    padding-top: 1rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    border-style: none;
    padding-bottom: 1rem;
}


#message{
    width: 15rem;
    border-radius: 4px;
    opacity: 0.5;
    padding-top: 1rem;
    padding-bottom: 12rem;
    padding-left: 1rem;
    border-style: none;
}

/*Footer*/

.footer {
    background-color: #9F9ACF;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
    padding-top: 1.68rem;
    padding-bottom: 1.68rem;
}

.footer-item{
    max-width: 100%;
    margin-top: 1rem;
 }  

.item-left{
 align-items: center;

}

.item-right{
    align-items: center;
}


    
 
@media (min-width: 576px){
    
    /*Section1*/
  
    .conteiner {
        max-width: 768px;
        width: 100%;
        background-size: cover;
        overflow-x: hidden;
        height: 100%;
        background-position: center;
        text-align: center;
    }

    .header-title {
        font-family: 'ProximaSemibold';
        font-size: 2.5rem;
        padding-top: 20rem;
        color: #FEFEFB;
        font-weight: 300;
    }    

    .header-subtitle {
        font-family: 'PTSans-Italic';
        font-size: 1rem;
        line-height: 1.75rem;
        padding-top: 0.6rem;
        padding-bottom: 17rem;
        color: #FEFDFD;
    }

    /*section2*/
    .Section_2 {
        background-color: #EBEBEB;
        padding: 5rem 1.43rem;
        
    }

    .img .icon-section2 {
        position: relative;  
    }

   

    /*Section3*/

    .conteiner-section3 {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        padding: 0 1.43rem;
    }

    .col-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-between;
    }

    .section_3-content {
        background-image: url(../images/Clip.png);
        background-color: #9F9ACF;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
    }

    .card{
        width: 50%;
    }

    .section_3-icon {
        margin-top: 3.2rem;
    }

    .text-img {
        padding-top: 2.35rem;
        font-size: 1.12rem;
        font-family: 'PTSans-Italic';
        text-align: justify;
        padding-right: 1.78rem;
        padding-left: 1.78rem;
    }

    .text-footnote {
        font-family: 'PTSans-Bold';
        padding-bottom: 3rem;
    }

    /*Section4*/

    .Section_4{
        background-image: url('../images/Bg.png');
        display: block;
        text-align: center;
        position: relative;
        }

       .btn-gallery{
           margin: 2rem 0 ;
       }

    .next{
        right: 4rem;
        border-radius: 3px 0 0 3px;
      }
    
    .prev{
        left: 4rem;
        border-radius: 3px 0 0 3px;  
    }
    
    .slideshow-container{
        padding-top: 2rem;
    }

    /*section5*/
    .Section_5{
        background-color: #EBEBEB;
        text-align: center;
        position: relative;
        padding: 0 2rem;
    }
    .multiple-items{
        display: flex;
        position: relative; 
        min-width: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2.1rem;
        padding-bottom: 6.1rem;
        justify-content: center;
      
    }

    .slide-item1{
        background-image: linear-gradient(180deg, transparent, transparent 30%, #fff 30%, #FFFFFF 100%); 
        
        flex-basis: 100%;
       
   }
   .multiple-items.slide-item1{
        min-width: 0;
        text-align: center;
        background-color: #FDFDFE; 
      
   }

    .img-bg-about-team{
        padding-bottom: 2rem;
    }

    .slick-slider{
        min-height: 0;
        position: relative;
        display: block;
    
    }
    .slick-track{
        display:flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        
    }

    .slick-list{
        overflow-x: hidden;
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
    }

    .multiple-items .slick-arrow{
        position: absolute;
        margin-top: -6rem;
        top: 50%;
        z-index: 10;
        font-size: 0;  
        border: 1px solid transparent;
        width: 22px;
        height: 38px;
        }

    .multiple-items .slick-prev{
        left: 0; 
        background: url('/images/interface-arrow-left-dark.svg')  0 0 / 100% no-repeat;
        background-size: contain;
        width: 3rem;
        height: 3rem; 
        margin-left: -2rem;   
    }
    
     .multiple-items .slick-next{
         right: 0;
         background-size: contain;
         background-image: url('/images/interface-arrow-right-dark.svg');
         background-position: center center;
         background-repeat: no-repeat;
         width: 3rem;
         height: 3rem;
         margin-right: -2rem;
     }
    

     .card-body{
       width: 100%;
    }

    .card-footer{
        background-color: #9F9ACF;
        padding-bottom: .4rem;
        padding-top: 0.4rem;

    }

    .card-text{
        padding-bottom: 2.5rem;
        font-size: 1rem;
        font-family: 'PTSans-Italic';
    }

    .overlay{
        color: #575091;
        font-weight: 700;
        bottom:6.5rem; 
        width: 100%;
        font-size: 20px;
        padding: 2rem;
        text-align: center;
    }

    .slide-item1-foto{
        z-index: 15;
        transform: translate(0, 0);
    }


    .card-link{
        margin-right: 0.5rem;
    }
    
    .section-title{
        padding-top: 1rem;
        font-size: 2.2rem;
    }

    .slideshow-container{
        padding-top: 2rem;
    }

    /*Section6*/
    #name{
        width: 20rem;
        color: #EBEBEB;
        border-radius: 4px;
        opacity: 0.5;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        border-style: none;
        margin-bottom: 1rem;
    }

    .form-get{
       padding-top: 4rem;
    }

    #email{
        width: 20rem;
        border-radius: 4px;
        opacity: 0.5;
        padding-top: 1rem;
        margin-bottom: 2rem;
        padding-left: 1rem;
        border-style: none;
        padding-bottom: 1rem;
    }
    
    
    #message{
        width: 20rem;
        border-radius: 4px;
        opacity: 0.5;
        padding-top: 1rem;
        padding-bottom: 12rem;
        padding-left: 1rem;
        border-style: none;
    }
       
     /*Footer*/

    .footer {
        background-color: #9F9ACF;
        color: #FFFFFF;
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        padding-right: 2rem;
        padding-left: 2rem ;
        padding-top: 1.68rem;
        padding-bottom: 1.68rem;
    }
    
}

@media (min-width: 768px){
    /*Section1*/
    .conteiner{
        max-width: 995px;
        width: 100%;
        background-size: cover;
        overflow-x: hidden;
        height: 100%;
        background-position: center;
        text-align: center;
    }

    .Section_1{
        padding-left: 5.43rem;
        padding-right: 5.43rem;
        text-align: center; 
       }

    /*Section2*/   

    /*Section3*/
    .section_3-content{
        width: 100%;
    }

    .section_3-icon{
        margin-top: 3rem;
    }

    .text-img{
        text-align: center;
    }

    /*Section4*/
    .Section_4{
        background-image: url('../images/Bg.png');
        display: block;
        text-align: center;
        position: relative;
        }

        .next{
            right: 2rem;
            border-radius: 3px 0 0 3px;
        }
        
        .prev{
            left: 2rem;
            border-radius: 3px 0 0 3px;  
        }

        .prev, .next {
            cursor: pointer;
            transition: 0.6s ease;
            position: absolute;
            top: 50%;
            width: auto; 
        }
        
        .btn-prev, .btn-next{
            padding: 16px;
            color:#665F60;
        }
        
        .btn-prev:hover, .btn-next:hover {
            background-color: #DBDBDB;
        }

        .img-icon-section4{
            padding-top: 2rem;
        }

    /*Section5*/

    .Section_5{
        padding: 0 2rem;
    }
    .slide-item1{
        background-image: linear-gradient(180deg, transparent, transparent 30%, #fff 30%, #FFFFFF 100%); 
        margin: 0 15px;
        flex-basis: 50%;  
    }

    /*Section6*/
    .arrow-up{
        position: fixed;
        padding: 1rem 1rem;
        background-color: #9F9ACF;
        z-index: 1000;
        bottom: 150px;
        right: 2rem;
    }

    #name{
        width: 17rem;
        color: #EBEBEB;
        border-radius: 4px;
        opacity: 0.5;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        margin-right: 2.80rem;
        border-style: none;
    }
    .form-get{
    padding-top: 4rem;

    }
    #email{
        width: 17rem;
        border-radius: 4px;
        opacity: 0.5;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        border-style: none;
    }


    #message{
        width: 37rem;
        border-radius: 4px;
        opacity: 0.5;
        padding-top: 1rem;
        padding-bottom: 12rem;
        padding-left: 1rem;
        border-style: none;
    }     

}

@media (min-width: 992px){
    /*Section1*/
    .conteiner{
        max-width: 1200px;
        background-size: cover;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        background-position: center;
        text-align: center;
    }

    .conteiner .header-nav {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
    }

    .header-nav::before {
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #9F9ACF;
        opacity: 0.7;
        z-index: 2;
    }

    .lock .header-menu{
        display: none;
    }


    .header-burger{
        display: none; 
    }

    .header-menu{
        display: block;
    }

    .header-link {
        color: white;
        font-family: 'ProximaSemibold';
        font-size: 1.5rem;
        text-decoration: none;
    }

    .lock .header-menu{
        display: none;
    }

    .lock .header-link{
        display: block;
    }

    .nav-menu {
        position: static;
        display: flex;
        padding: 1rem;
        align-items: center;
    }
    .menu-items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style: none;
    }
    .nav-menu-item {
        margin-right: 1.8rem;
        list-style-type: none;
        font-size: 1.2rem;
    }

    .header-title {
        font-family: 'ProximaSemibold';
        font-size: 3.0rem;
        padding-top: 22rem;
        color: #FEFEFB;
        font-weight: 300;
    }

    .header-subtitle {
        font-family: 'PTSans-Italic';
        font-size: 1.8rem;
        line-height: 1.75rem;
        padding-top: 1.8rem;
        padding-bottom: 22rem;
        color: #FEFDFD;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    /*Section2*/
    .Section_2 {
        background-color: #EBEBEB;
        padding: 5rem 1.43rem 5rem 0;
        
    }

    .pic_container {
        display: flex;
        justify-content: center;
        position: relative;
        
    }

    .block-icon{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:flex-start ;
        align-items: center;
        margin-left: 0;
        padding-top: 3rem; 
        position: absolute;
        
    }

    .section_2-item {
        display: flex;
        flex-direction: column;
        position: relative;
        flex-wrap: nowrap;
    }

    .section-title{
        font-size: 1.8rem;
    }

    .section_2-subtitle {
        font-size: 1.25rem;
        font-family: 'PTSans-Regular';
        text-align: justify;
        color: #665F60;
        padding: 1.5rem;
    }

    /*Section3*/
    .Section3{
        padding-left: 8.43rem;
        padding-right: 8.43rem;
        background-color: #EBEBEB;
    }

    /*Section4*/

    .Section_4 {
        background-image: url(../images/Bg.png);
        display: block;
        text-align: center;
        position: relative;
    }

    .next{
        right: 8rem;
        border-radius: 3px 0 0 3px;
      }
    
    .prev{
        left: 8rem;
        border-radius: 3px 0 0 3px;  
    }    
    .prev, .next {
        cursor: pointer;
        transition: 0.6s ease;
        position: absolute;
        top: 50%;
        width: auto;    
    }
    
    .btn-prev, .btn-next{
        padding: 16px;
        color:#665F60;
    }
    
    .btn-prev:hover, .btn-next:hover {
        background-color: #DBDBDB;
    }

    .slideshow-container{
        padding-top: 2rem;
    }


     /*Section5*/

    .Section_5{
        padding: 0 3rem;
    }
    .slide-item1{
        background-image: linear-gradient(180deg, transparent, transparent 30%, #fff 30%, #FFFFFF 100%); 
        margin: 0 15px;
        flex-basis: calc(100% / 3 - 30px);
       
   }

   /*Section6*/

   .arrow-up{
    position: fixed;
    padding: 1rem 1rem;
    background-color: #9F9ACF;
    bottom: 140px;
    right: 0;
    z-index: 1000;
}  

/*Section6*/


#name{
    width: 24rem;
    color: #EBEBEB;
    border-radius: 4px;
    opacity: 0.5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-right: 1.80rem;
    border-style: none;
}
.form-get{
   padding-top: 13.62rem;

}
#email{
    width: 24rem;
    border-radius: 4px;
    opacity: 0.5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-style: none;
}


#message{
    width: 50rem;
    border-radius: 4px;
    opacity: 0.5;
    padding-top: 1rem;
    padding-bottom: 12rem;
    padding-left: 1rem;
    border-style: none;
}


    
}

@media (min-width: 1200px){
    .conteiner{
        max-width: 1600px;
        background-size: cover;
        overflow-x: hidden;
    }
    
    .Section_1{
        background-image: url('../images/Rectangle9.png');
        background-repeat: no-repeat;  
        padding-left: 13.43rem;
        padding-right: 13.43rem;
        text-align: center; 
        
    } 

    .header-nav {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
    }

    .header-menu{
        display: block;
    }
    
    .lock .header-menu{
        display: none;
    }

    .lock .header-link{
        display: block;
    }

    
    .header-nav::before {
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #9F9ACF;
        opacity: 0.7;
        z-index: 2;
    }
     /* burger*/
     
    .header-burger{
        display: none; 
    }
    /*Burger navigation*/

    .conteiner .header-nav {
        position: fixed;
        max-width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
    }
    /*.header-burger {
        display: block;
        position: relative;
        width: 40px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    
    .header-burger::before {
            top: 0;
        }
    
    .header-burger::after {
        bottom: 0;
    }    
    
    .header-burger::after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        right: 0;
        height: 4px;
        transition: all 0.3s ease 0s;
    }
    .header-burger::before, .header-burger::after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        right: 0;
        height: 4px;
        transition: all 0.3s ease 0s;
    }
    
    .header-burger span {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 4px;
        top: 8px;
        right: 0;
        transition: all 0.3s ease 0s;
    }
    /*burger*/*/
    .nav-menu {
        position: static;
        display: flex;
        padding: 1rem;
        align-items: center;
    }
    
    .icon.nav-menu-icon {
       margin-right: 18rem;
       margin-top: -0.85rem;
      
    }
    
    .menu-items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style: none;
    }
    
    .header-link{
        color: white;
        font-family:'ProximaSemibold';
        font-size: 1.5rem;
        text-decoration: none;
    }
    
    .nav-menu-item{
        margin-right: 1.8rem;
        list-style-type: none;
        font-size: 1.2rem; 
    }
    
    .icon{
        flex: 0 0 80px;
        z-index: 10;
        position: relative;
        z-index: 4;
        margin-top: 0;
        margin-left: 4rem;
    }
    
    .icon img{
        max-width: 100%;
        display: block;
    }
    .header-title{
        font-family:'ProximaSemibold';
        font-size: 4.0rem;
        padding-top: 18rem;
        color:#FEFEFB;
        font-weight: 300;
    }
    
    .header-subtitle{
        font-family:'PTSans-Italic';
        font-size: 1.8rem;
        line-height: 1.75rem;
        padding-top: 0.8rem;
        padding-bottom: 26rem;
        color:#FEFDFD;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    
    .header{
        padding-top: 7rem;
        display: block;
        text-align: center;
    }   
    
    /*section2*/
    
    .Section_2{
        background-color: #EBEBEB;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        padding:6rem 13.43rem 6rem 13.43rem;
        /*justify-content: space-around;*/
       
    }
    
    .section_2-item{
        /* align-items: flex-start; */
        flex-direction: column;
        position: relative;
    }
    
    .pic_container {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .icon-section2 {
       display: flex;

    }

    .block-icon{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:flex-start ;
        align-items: center;
         margin-top: 1rem; 
        position: absolute;
        /* display: block; */
        /* text-align: center; */
        padding-top: 3rem; 
        margin-left: -1.1rem;
       
    }
    
    .section_2-subtitle {
        top: 0;
        padding-left: 4.5rem ;
        font-size: 1.1rem;
        font-family:'PTSans-Regular';
        text-align: left;
        color: #665F60;
    }
    .btn-learn{
        margin-left: 14.75rem;
       
        color: #665F60;;
    }
    
    .btn{
        padding: 0.875rem 3.5rem;
        border: 1px solid #7D7A7C;
        font-family:'PTSans-Italic';
        font-size: 1.25rem;
        display: inline-block;
    }
    
    .section-title{
        color: #FEFBFC;
        font-family:'ProximaSemibold';
        font-size: 2.2rem; ;
    }
    
    /*section3*/
    .Section3{
        padding-left: 13.43rem;
        padding-right: 13.43rem;
        background-color: #EBEBEB;
    }
    .conteiner-section3{
        
        display: flex;
        justify-content: center;
    }   
    .section_3-content{
        background-image: url('../images/Clip.png');
        background-color: #9F9ACF;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        height: 800px;
    
    }
    
    .col-item{
        display: flex;
        flex-direction: column;
        max-width: calc(100% / 3);
        justify-content: center;
    
    }
    .card-name{
        font-size: 1.2rem;
        font-size: 'ProximaSemibold';
       
        padding-bottom: 1.2rem;
        padding-top: 1.56rem;
    } 
    
    .icon-img{
         padding-top: 6.2rem;
    }
    
    .card{
        width: 100%;
        color: #665F60;
        text-align: center;
        height: 400px;
    }
    
    .text{
        font-size: 1.13rem;
        font-family:'PTSans-Italic';
        display: inline-block;
        width: 12.5rem;
        
    }
    
    .section_3-icon{
        margin-top: 7.2rem;
    }
    
    .text-img{
        padding-top: 3.75rem;
        font-size: 1.12rem;
        font-family: 'PTSans-Italic';
        text-align: justify;
        padding-right: 1.78rem;
        padding-left: 1.78rem;
    }
    
    .text-footnote{
       font-family:'PTSans-Bold';
    }
    /*Section4*/
    .Section_4{
    background-image: url('../images/Bg.png');
    display: block;
    text-align: center;
    position: relative;
    }
    
    .slideshow-container {
        max-width: 730px;
        max-height: 546px;
        margin: auto;
      }
    
    .mySlides {
        display: none;
    }
    
    .next{
        right: 10rem;
        border-radius: 3px 0 0 3px;
      }
    
    .prev{
        left: 10rem;
        border-radius: 3px 0 0 3px;  
    }    
    .prev, .next {
        cursor: pointer;
        transition: 0.6s ease;
        position: absolute;
        top: 50%;
        width: auto;
        
    }
    
    .btn-prev, .btn-next{
        padding: 16px;
        color:#665F60;
    }
    
    .btn-prev:hover, .btn-next:hover {
        background-color: #DBDBDB;
    }
      
    
    .dot {
        cursor: pointer;
        height: 12px;
        width: 12px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
      
    .active, .dot:hover {
        background-color: #717171;
    }
    
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
    
    .dot-group{
        display:block;
        text-align:center;
        margin-top: 2.8rem;
        margin-bottom: 2.9rem;
    }
    
    .img-icon-section4{
        margin-top:3rem;
    }
    .btn-gallery{
        margin-bottom: 4rem;
        text-align:center; 
        opacity: 0 0 0 0.5;
        background-color: #9F9ACF;
        color: #FFFFFF;
    
        
    }
    /*Section 5*/
    .Section_5{
        background-color: #EBEBEB;
        text-align: center;
        position: relative;
        padding: 0 6rem;
    }
    
    .multiple-items{
       display: block;
       position: relative; 
       min-width: 0;
       margin-right: auto;
       margin-left: auto;
       margin-top: 2.1rem;
       justify-content: center;
       padding-bottom: 6.1rem;
       padding-left: 6.82rem;
       padding-right: 6.82rem;
        
    }
    .slide-item1{
         background-image: linear-gradient(180deg, transparent, transparent 30%, #fff 30%, #FFFFFF 100%); 
         margin: 0 15px;
         flex-basis: 340px;
         max-width: calc(100% / 3 );
    }
    
    .multiple-items.slide-item1{
        min-width: 0;
        text-align: center;
        background-color: #FDFDFE; 
          
    }
    
    .img-bg-about-team{
        padding-bottom: 2rem;
    }
    
    .slick-slider{
        min-height: 0;
        position: relative;
        display: block;
       
    }
    .slick-track{
        display:flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        
    }
    
    .slick-list{
        overflow-x: hidden;
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
    }
    
    .multiple-items .slick-arrow{
         position: absolute;
         margin-top: -6rem;
         top: 50%;
         z-index: 10;
         font-size: 0;  
         border: 1px solid transparent;
         width: 22px;
         height: 38px;
     }
    
    .multiple-items .slick-prev{
        left: 0; 
        content: "\e5e1";
        background: url('/images/interface-arrow-left-dark.svg')  0 0 / 100% no-repeat; 
        background-size: contain;
        width: 2rem;
        height: 3rem;    
    }
    
     .multiple-items .slick-next{
         right: 0;
         background-size: contain;
         background-image: url('/images/interface-arrow-right-dark.svg');
         background-position: center center;
         background-repeat: no-repeat; 
         width: 2rem;
         height: 3rem;
     }
    
    
    .card-body{
        width: 100%;
    }
    .card-footer{
        background-color: #9F9ACF;
        padding-bottom: .4rem;
        padding-top: 0.4rem;
    
    }
    
    .card-text{
        padding-bottom: 2.5rem;
        font-size: 1rem;
        font-family: 'PTSans-Italic';
    }
    .overlay{
      color: #575091;
      font-weight: 700;
      bottom:6.5rem; 
      width: 100%;
      font-size: 20px;
      padding: 2rem;
      text-align: center;
    }
    
    .slide-item1-foto{
       z-index: 15;
       transform: translate(0, 0);
    }
    
    
    .card-link{
        margin-right: 0.5rem;
    }
    
    
    
    /*section 6*/
    .Section_6{
        background-image: url('../images/Bg-map.png');
        width: 100%; 
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        text-align: center;
    }
    
    .section-title{
        padding-top: 3.38rem;
        padding-bottom: 3rem;
    }
    
    
    .conteiner-adress{
       display: flex; 
       width: 21.75rem;
       padding: 2rem 2rem;
       font-size: 1.12rem;
      opacity: 0,5; 
         
    
    }
    
    .sidenav-item{
        display: flex;
    
    
    }
    
    .sidenav-conteiner{
       display: flex;  
       flex-direction: column;
        
        
    }
    
    .item-text{
         
         background-color: #EBEBEB;
         display: block;
    }
    
    .btn-form{
          background-color: #9F9ACF;
          color: #FFFFFF;
          margin-top: 3.2rem;
          margin-bottom: 3.2rem;
          border-radius: 4px;
          font-family: 'ProximaBold';
          font-size: 1rem;
    }
    
    #name{
        width: 24rem;
        color: #EBEBEB;
        border-radius: 4px;
        opacity: 0.5;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        margin-right: 1.80rem;
        border-style: none;
    }
    .form-get{
       padding-top: 13.62rem;
    
    }
    #email{
        width: 24rem;
        border-radius: 4px;
        opacity: 0.5;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        border-style: none;
    }
    
    
    #message{
        width: 50rem;
        border-radius: 4px;
        opacity: 0.5;
        padding-top: 1rem;
        padding-bottom: 12rem;
        padding-left: 1rem;
        border-style: none;
    }
    
    .arrow-up{
        position: fixed;
        padding: 1rem 1rem;
        background-color: #9F9ACF;
        bottom: 15px;
        right: 5%;
        z-index: 1000;
    }
    /*Footer*/
    .footer{
        background-color: #9F9ACF;
        color: #FFFFFF;
        display: flex;
        padding-left: 8.43rem;
        padding-right: 8.43rem; 
        padding-top: 4.68rem; 
        padding-bottom: 4.69rem;
    }
    
    .footer-item{
         width: 50%;
         flex-direction: row;
         flex-wrap: nowrap;
    }
    
    .item-right{
       text-align: right;
    }
    
    .item-left{
        text-align: left;
        align-self: center;
     }
     
     
    

}

@media (min-width: 1400px) {
    /*Section2*/
    
    .section_2-subtitle {
        padding-top: 4.69rem;
    }

    .btn-learn{
        margin-top: 1.68rem;
    }

    .section_2-subtitle {
        font-size: 1.25rem;
    }

    .pic_container {
        display: flex;
        justify-content: center;
        
    }

    .block-icon{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:flex-start ;
        align-items: center;
        
        padding-top: 3rem; 
        margin-left: -1.1rem;
       
    }


    
}
    
